.card {
  background-color: white;
  margin-bottom: 31px;
  margin-top: 31px;
  width: 300px;
  height: 450px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.divImg {
  min-width: 260px;
  min-height: 160px;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  max-width: 50%;
}

.contentido {
  height: 95px;
  margin-left: 26px;
  margin-right: 26px;
}

.title {
  font-family: "Eras Demi ITC";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #000000;
  margin-bottom: -3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.subtitle {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #49454f;
  margin-bottom: -3px;
}

.descripcion {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  color: #000000;
  margin-bottom: -3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.iconTag {
  max-width: 100% !important;
  width: 18px;
  height: 18px;
}
.valorSinDescuento {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  text-decoration: line-through;
  color: #979797;
}

.contenidoValor {
  background: #dadd06;
  border-radius: 4px;
  height: 23px;
  max-width: 100px;
  margin-left: 26px;
  margin-right: 26px;
  margin-bottom: 60px;
}

.valor {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  font-family: "Epilogue";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.btnDescripcion {
  background-color: #dadd06;
  margin: 0 10px 0 10px;
  margin-bottom: 7px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.btnAgregar {
  background-color: #036733;
  margin: 0 10px 0 10px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
