footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  align-items: center;
  background-color: #dadd06;
  color: white;
  font-weight: 600;
}

.name {
  position: absolute;
  left: 1.2%;
  right: 79.79%;
  top: 47.37%;
  bottom: 37.89%;
  font-family: "Epilogue";
  font-style: "blod";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;
  color: #036733;
}

.dir {
  position: absolute;
  left: 37.5%;
  right: 40.99%;
  top: 48.75%;
  bottom: 27.04%;
  font-family: "Eras Demi ITC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: capitalize;
  color: #036733;
}

.email {
  position: absolute;
  left: 82.5%;
  right: 4.69%;
  top: 66.25%;
  bottom: 16.91%;
  font-family: "Eras Demi ITC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;

  color: #036733;
}
.telefono {
  position: absolute;
  left: 82.5%;
  /* right: 12.66%; */
  top: 32.3%;
  bottom: 50.86%;
  font-family: "Eras Demi ITC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #036733;
}
.iconTel {
  position: absolute;
  left: 80%;
  right: 15%;
  top: 25%;
  bottom: 50.86%;
}
.iconMail {
  position: absolute;
  left: 80%;
  right: 15%;
  top: 60.5%;
  bottom: 14.9%;
}

.iconMap {
  position: absolute;
  left: 35.62%;
  right: 63.18%;
  top: 36.25%;
  bottom: 27.5%;
}

.contactenos {
  position: absolute;
  left: 73.9%;
  right: 25.21%;
  top: 31.25%;
  bottom: 51.91%;
  font-family: "Eras Demi ITC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* text-transform: capitalize; */
  color: #036733;
}

.iconRegistro {
  position: absolute;
  left: 20.62%;
  right: 78.33%;
  top: 41.05%;
  bottom: 33.95%;
  /* background: #036733; */
}

footer #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

footer #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

footer #twitter-logo:hover,
footer #youtube-logo:hover {
  opacity: 0.8;
}

.spacer {
  flex: 1;
}
