<nav class="toolbar">
  <img width="80" alt="Angular Logo" src="assets\png\logosupermarkex.png" />
  <div class="example-button-row">
    <button
      (click)="inicio()"
      mat-button
      [ngClass]="{ active: menuActivo === 'inicio' }"
      class="btnMenu"
    >
      Inicio
    </button>
    <button
      (click)="productos()"
      [ngClass]="{ active: menuActivo === 'productos' }"
      class="btnMenu"
      mat-button
    >
      Productos
    </button>
    <button (click)="administracion()" class="btnMenu" mat-button>
      Administración
    </button>
  </div>
  <div class="spacer"></div>
  <div
    class="btnCar mat-badge-content"
    (click)="carrito()"
  >
    <mat-icon matBadgeColor="warn">shopping_cart</mat-icon>
  </div>

  <button mat-fab extended class="btnlogin">
    <mat-icon>person</mat-icon>
    Ingresar
  </button>
</nav>
