<div class="main-content body">
  <div class="cardLogin">
    <div class="avatar">
      <img src="assets\png\perfil-del-usuario 1.png" alt="avatar" />
    </div>
    <div class="row">
      <div class="col-12">
        <input name="user" [(ngModel)]="user" type="text" class="input-icon-user" placeholder="Usuario" />
      </div>
      <div class="col-12">
        <input name="pass" [(ngModel)]="pass"
          type="password"
          class="input-icon-pass"
          placeholder="Contraseña"
        />
      </div>
      <button (click)="login()">Ingresar</button>
    </div>
  </div>
</div>
